* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
}


:root {
    --primarycolor: #E91E63;
    --backcolor: #FCE4EC;
    --textcolor: #333333;
}

.main {
    min-height: 100vh; /* Changed from height to min-height */
    width: 100%;
    background: linear-gradient(to bottom, transparent 95%, rgba(0, 0, 0, 0.5) 100%);
    background-image: url('./HomeBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}


.logocolor {
    color: var(--primarycolor);
}

.seclogocolor{
    color: var(--textcolor);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    width: 97%;
    padding: 10px 20px;
    margin: 0px 18px;
    border-radius: 100px;
}

.logo {
    display: flex;
    gap: 2px;
    font-weight: bold;
    font-size: 39px;
    font-family: "Poetsen One";
}

.startTracking {
    color: var(--textcolor);
    height: 40px;
    width: 150px;
    display: flex;
    font-family: "Lora";
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primarycolor);
    border-radius: 60px;
    transition: all 0.5s ease-in-out;
}

.startTracking p {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

.startTracking:hover {
    background-color: var(--primarycolor);
    color: white;
}

.maintext {
    margin-top: 50px;
    text-align: start;
    padding-left: 40px;
    font-family: 'Poppins';
    font-size: 30px;
    color: var(--primarycolor);
    line-height: 1.2;
}

.subheading {
    margin-top: 40px;
    text-align: start;
    padding-left: 40px;
    font-family: 'Poppins';
    font-size: 20px;
    color: var(--textcolor);
}

.pcodbutton {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 50px;
    padding-left: 40px;
    transition: all 0.5s ease-in-out;
}

.pcodbutton1 {
    border: 2px solid var(--primarycolor);
    height: 50px;
    width: 200px;
    font-size: 20px;
    display: flex;
    font-family: "Lora";
    color: var(--textcolor);
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
}

.pcodbutton1:hover {
    background-color: var(--primarycolor);
    color: white;
    cursor: pointer;
}

.blog {
    height: 365px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.chooseus>h1{
    font-size: 50px;
    margin-top: 90px;
    text-align: center;
    font-family: "Poppins";
    color: var(--primarycolor);
    /* color: var(--primarycolor); */
}

.blog .boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Add gap between the cards */
}

.blog{
    margin-top: 30px;
}

.card1>p>h1{
    color: white;
}

.card{
    height: 300px;
    width: 500px;

}
.card p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #666;
  }
  
  .card p.small {
    font-size: 14px;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: var(--backcolor);
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card1 {
    height: 300px;
    display: block;
    position: relative;
    max-width: 500px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 5px 0px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
  }
  
  .card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: var(--backcolor);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  
  .card1:hover:before {
    transform: scale(21);
  }
  
  .card1:hover p, .card1:hover h1, .card1:hover h2, .card1:hover h3 {
    transition: all 0.3s ease-out;
    color: #fff;
  }
  
  .card2 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
  }
  
  .card2:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  .card2:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }
  
  .card2:hover:before {
    transform: scale(2.15);
  }
  
  .card3 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #f2f8f9;
  }
  
  .card3 .go-corner {
    opacity: 0.7;
  }
  
  .card3:hover {
    border: 1px solid #00838d;
    box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
    z-index: 500;
  }
  
  .card3:hover p {
    color: #00838d;
  }
  
  .card3:hover .go-corner {
    transition: opactiy 0.3s linear;
    opacity: 1;
  }
  
  .card4 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #fff;
    border-radius: 4px;
    padding: 32px 24px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #ccc;
  }
  
  .card4 .go-corner {
    background-color: var(--backcolor);
    height: 100%;
    width: 16px;
    padding-right: 9px;
    border-radius: 0;
    transform: skew(6deg);
    margin-right: -36px;
    align-items: start;
    background-image: linear-gradient(-45deg, #8f479a 1%, #dc2a74 100%);
  }
  
  .card4 .go-arrow {
    transform: skew(-6deg);
    margin-left: -2px;
    margin-top: 9px;
    opacity: 0;
  }
  
  .card4:hover {
    border: 1px solid #cd3d73;
  }
  
  .card4 h3 {
    margin-top: 8px;
  }
  
  .card4:hover .go-corner {
    margin-right: -12px;
  }
  
  .card4:hover .go-arrow {
    opacity: 1;
  }

.card, .card1, .card2, .card3 {
    display: block;
    text-align: center;
    position: relative;
    max-width: 400px;
    background-color: #f2f8f9;
    border-radius: 4px;
    font-family: 'Poppins';
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border-radius: 27px;
}

.card p, .card1 p, .card2 p, .card3 p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #666;
}

.card p.small, .card1 p.small, .card2 p.small, .card3 p.small {
    font-size: 14px;
}

.card1:before, .card2:before, .card3:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: var(--backcolor);
    height: 60px;
    width: 60px;
    border-radius: 60px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.card1:hover:before, .card2:hover:before, .card3:hover:before {
    transform: scale(21);
}

.card1:hover p, .card1:hover h1, .card1:hover h2, .card1:hover h3,
.card2:hover p, .card2:hover h1, .card2:hover h2, .card2:hover h3,
.card3:hover p, .card3:hover h1, .card3:hover h2, .card3:hover h3 {
    transition: all 0.3s ease-out;
    color: var(--primarycolor); 
}

.card2:hover p, .card2:hover h3 {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
}

.card2:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #ccc;
    background-color: white;
}

.card3 .go-corner {
    opacity: 0.7;
}

.card3:hover {
    border: 1px solid #00838d;
    box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
    z-index: 500;
}

.card3:hover p {
    color: var(--backcolor);
}

.card3:hover .go-corner {
    transition: opacity 0.3s linear;
    opacity: 1;
}

.card-heading {
    margin-bottom: 20px; 
    color: #333333;
}

.small{
    margin: 0px 10px;
    text-align: center;
    color: var(--textcolor);
}
